HEART_PREDICTION_FINAL PROJECT.json
[{"id":"54010f284a6c4290","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"f923940a548bc4a3","type":"debug","z":"54010f284a6c4290","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"016eb03324cc4306","type":"function","z":"54010f284a6c4290","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"As6q5D22vo0kxzC0639EcBmAhkvpdwKxZLUDm7B7iRmm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["e9c5a8ca8e7aebe2"]]},{"id":"e9c5a8ca8e7aebe2","type":"http request","z":"54010f284a6c4290","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":160,"wires":[["9e99f61b44757d4b","5ed6f97e29c78b53"]]},{"id":"9e99f61b44757d4b","type":"debug","z":"54010f284a6c4290","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"5ed6f97e29c78b53","type":"function","z":"54010f284a6c4290","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":60,"wires":[["37beeb586c26eb52"]]},{"id":"465c2c3d3073de63","type":"debug","z":"54010f284a6c4290","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"939ec403c413d6fa","type":"inject","z":"54010f284a6c4290","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["016eb03324cc4306"]]},{"id":"605bd556adfc7244","type":"debug","z":"54010f284a6c4290","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"901093dbf2860a90","type":"function","z":"54010f284a6c4290","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = \"Not at Risk\";\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = \"At Risk\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":80,"wires":[["605bd556adfc7244","b2e8e08476f2addd"]]},{"id":"b2e8e08476f2addd","type":"ui_text","z":"54010f284a6c4290","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":100,"wires":[]},{"id":"b7438d08cc16c16c","type":"ui_form","z":"54010f284a6c4290","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":110,"y":240,"wires":[["f923940a548bc4a3","016eb03324cc4306"]]},{"id":"2bbe229a8f8ed7ec","type":"ui_text","z":"54010f284a6c4290","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1050,"y":240,"wires":[]},{"id":"1cb3062fb593a8d9","type":"debug","z":"54010f284a6c4290","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"adc9a96ec199da14","type":"function","z":"54010f284a6c4290","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0];\n       \n    }\nelse \n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][1];\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["1cb3062fb593a8d9","2bbe229a8f8ed7ec"]]},{"id":"37beeb586c26eb52","type":"http request","z":"54010f284a6c4290","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/bacc9db6-41c2-4b22-a61d-12665540272c/predictions?version=2022-07-16","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":140,"wires":[["465c2c3d3073de63","901093dbf2860a90","adc9a96ec199da14"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"heart rate prediction","tab":"8f01a34760f9c130","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8f01a34760f9c130","type":"ui_tab","z":"54010f284a6c4290","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]